<h2><%= @event.name %></h2>

<h3>Description</h3>
<%= @event.description %>


<h3>Simple Format Description</h3>
<%= simple_format @event.description %>

<p><%= link_to "Back To Index", :controller => "events", :action => "index" %></p>